/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "font-awesome";

section {
  .hero-head {
    header.nav.has-shadow {
      .container {
        .nav-left {
          a.nav-item {
            img {
              max-height: 2rem;
            }
          }
        }
      }
    }
  }
}

section.top-main {
  header.nav {
    box-shadow: none !important;
  }
  background: image-url("top-background.jpg") no-repeat center top;
}

.width100 {
  width: 100%;
}

.sp {
  display: none;
}

@media(max-width:769px) {
  .pc {
    display: none;
  }

  .sp {
    display: inherit;
  }
}

.search-form {
  margin-top: 80px;
}

@media(max-width:769px) {
  .hero.is-fullheight  {
    .hero-body {
      aligin-items: flex-start;
      display: inline;

      .container {
        .tagline {
          .title {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}

@media(max-width:769px) {
  .sp-form {
    display: inherit !important;
    margin-top: 24px;

    .control {
      .select{
        width: 100%;
        margin-bottom: 8px;

        select {
          width: 100%;
        }
      }
    }

    .submit-button {
      text-align: right;
    }
  }
}

// index routes
section.index-routes {
  .container {
    h1.title.is-4 {
      font-weight: bold;
    }

    .border {
      border-top: 1px solid rgba(219, 219, 219, 0.5);
    }

    .border.top {
      margin-bottom: 1rem;
    }

    article.media {
      figure.media-left {
        p.image.is-64x64 {
          img {
            object-fit: cover;
            height: 100%;
          }
        }
      }
    }

    .border.bottom {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }
  }
}

// show route

section.show-routes {
  .container {
    h1.title.is-4 {
      font-weight: bold;
    }

    .columns {
      overflow: hidden;
      height: 800px;

      .column.route-spots {
        overflow: scroll;

        .notification.is-white-back {
          background-color: white;

          p {
            line-height: 1.9
          }
        }

        .card {
          margin-bottom: 32px;

          .card-content {
            .title-content {
              span.middle-image {
                vertical-align: middle;
                margin-right: 8px;
              }
            }
          }

          .card-image {
            figure {
              img {
                object-fit: cover;
              }
            }
          }
        }
      }

      .column.route-map {
        padding: 0;

        #map {
          width: 100%;
          height: 800px;
        }
      }
    }
  }
}

@media(max-width:769px) {
  .container {

    .columns {
      overflow: inherit !important;
      -webkit-overflow-scrolling: touch;
      height: 100% !important;

      .column.route-spots {
        overflow: inherit !important;;
        -webkit-overflow-scrolling: touch;

      }

      .column.route-map {
        #map {
          height: 450px !important;
        }
      }
    }
  }
}

// show spots

section.show-spots {
  .container {
    max-width: 600px;

    .card {
      .card-image {
        figure {
          img {
            object-fit: cover;
          }
        }
      }
    }
    .back-to-link {
      margin-top: 3rem;
    }
  }
}
